FACEBOOK_APP_ID=sdfkjs
FACEBOOK_APP_SECRET=sdfkjs
FACEBOOK_APP_VERSION=sdfkjs

LINKEDIN_APP_ID=sdfkjs
LINKEDIN_APP_SECRET=sdfkjs
LINKEDIN_APP_VERSION=sdfkjs

OPENAI_API_KEY=sdfkjs

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Marketing AI
NEXT_PUBLIC_APP_DESCRIPTION=Marketing AI is a platform that helps businesses to automate their marketing tasks.
NEXT_PUBLIC_APP_KEYWORDS=marketing, ai, automation, marketing automation, marketing ai, marketing automation platform